<div class="relative bg-white" x-data="{ mobileMenuOpen: false }">
  <div class="mx-auto px-4 sm:px-6">
    <div class="flex justify-between items-center py-6 md:justify-start md:space-x-10">
      <!-- STORE NAME / STORE LOGO -->
      <div class="flex justify-start lg:flex-1 truncate">
        <h1 class="text-xl font-bold truncate">{{ shop.name }}</h1>
      </div>

      <div class="-mr-2 -my-2 ml-3 md:hidden">
        <button
          @click="mobileMenuOpen = true"
          type="button"
          class="bg-white p-2 inline-flex items-center justify-center focus:outline-none">
          {% render 'icon-menu' %}
        </button>
      </div>


      <!-- NAVIGATION MENU -->
      <nav class="hidden md:flex space-x-10">
        {% render 'main-menu' %}
      </nav>

      <div class="hidden md:flex items-center justify-end md:flex-1 space-x-5">
        <a href="{{ routes.cart_url }}" class="whitespace-nowrap text-base text-gray-500 hover:text-gray-900">
          {% render 'icon-shopping-bag' %}
        </a>

        {% if shop.customer_accounts_enabled %}
          <a href="{{ routes.account_login_url }}" class="text-base text-gray-500 hover:text-gray-900">Login</a>
          <a href="{{ routes.account_register_url }}" class="text-base text-gray-500 hover:text-gray-900">Register</a>
        {% endif %}


      </div>
    </div>
  </div>

  <div x-show="mobileMenuOpen" class="absolute z-10 top-0 inset-x-0 p-2 transform origin-top-left md:hidden">
    <div class="shadow-lg rounded-lg ring-1 ring-black ring-opacity-5 bg-white w-full">
      <div class="p-5 divide-y-2 divide-gray-50">

        <!-- MOBILE MENU HEADER TITLE PLUS CLOSE BUTTON -->
        <div class="flex items-center justify-between pb-3">
          <div>
            <h1 class="text-lg text-gray-500">{{ section.settings.mobile_menu_title }}</h1>
          </div>
          <div class="-mr-2">
            <button
              @click="mobileMenuOpen = false"
              type="button"
              class="bg-white rounded-md p-2 text-gray-500">
              {% render 'icon-close' %}
            </button>
          </div>
        </div>

        <!-- NAVIGATION LINKS FOR MOBILE MENU -->
        <div class="pt-3">
          <nav class="grid gap-y-7">
            {% render 'mobile-menu' %}
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "text",
        "id": "mobile_menu_title",
        "label": "Title",
        "default": "Menu",
        "info": "This is the title of the mobile menu window"
      }, {
        "type": "link_list",
        "id": "menu",
        "label": "Header Menu",
        "default": "main-menu"
      }
    ]
  }
{% endschema %}